<div class="ilFormHeader">
	{DB_REPORT_TITLE}
</div>
<div class="form-horizontal col-sm-12" style="padding: 10px 0 5px">
	<div class="col-sm-12">
		<label class="col-sm-3 control-label">
			{DB_REPORT_LABEL_PATCHED_VERSION}
		</label>
		<div class="col-sm-9">
		<span class="form-control-static">
			{DB_REPORT_CONTENT_PATCHED_VERSION}
		</span>
		</div>
	</div>
	<div class="col-sm-12">
		<label class="col-sm-3 control-label">
			{DB_REPORT_LABEL_PREVIOUS_VERSION}
		</label>
		<div class="col-sm-9">
		<span class="form-control-static">
			{DB_REPORT_CONTENT_PREVIOUS_VERSION}
		</span>
		</div>
	</div>
	<div class="col-sm-12">
		<label class="col-sm-3 control-label">
			{DB_REPORT_LABEL_PATCHED_MAX_VERSION}
		</label>
		<div class="col-sm-9">
		<span class="form-control-static">
			{DB_REPORT_CONTENT_PATCHED_MAX_VERSION}
		</span>
		</div>
	</div>
	<div class="col-sm-12">
		<label class="col-sm-3 control-label">
			{DB_REPORT_LABEL_PREVIOUS_MAX_VERSION}
		</label>
		<div class="col-sm-9">
		<span class="form-control-static">
			{DB_REPORT_CONTENT_PREVIOUS_MAX_VERSION}
		</span>
		</div>
	</div>
</div>
