<tr class="{CSS_ROW}">
	<td class="std">
		{TXT_CURRENT_VERSION}
	</td>
	<td class="std">
		{TXT_CORRECT_VERSION}
	</td>
	<td class="std">
		{TXT_DATE}
	</td>
	<td class="std">
		{LINK_OPENING_TAG}{TXT_FILENAME}{LINK_CLOSING_TAG}
	</td>
	<td class="std">
		{TXT_CURRENT_PATH}
	</td>
	<td class="std">
		{TXT_CORRECT_PATH}
	</td>
	<td class="std">
		{TXT_NUMBERED_CORRECTLY}
	</td>
	<td class="std">
		{TXT_STORED_CORRECTLY}
	</td>
	<td class="std">
		{TXT_FOLDER_EXISTS}
	</td>
	<td class="std">
		{TXT_FILE_EXISTS}
	</td>
	<td class="std">
		{TXT_PATCH_POSSIBLE}
	</td>
</tr>