<tr class="{CSS_ROW}">
	<td class="std">
		{TXT_PATCHED_VERSION}
	</td>
	<td class="std">
		{TXT_PREVIOUS_VERSION}
	</td>
	<td class="std">
		{TXT_CORRECT_VERSION}
	</td>
	<td class="std">
		{TXT_DATE}
	</td>
	<td class="std">
		{LINK_OPENING_TAG}{TXT_FILENAME}{LINK_CLOSING_TAG}
	</td>
	<td class="std">
		{TXT_UPLOADED_BY}
	</td>
	<td class="std">
		{TXT_PATCHED_PATH}
	</td>
	<td class="std">
		{TXT_PREVIOUS_PATH}
	</td>
	<td class="std">
		{TXT_CORRECT_PATH}
	</td>
	<td class="std">
		{TXT_FILE_EXISTS}
	</td>
	<td class="std">
		{TXT_TYPE}
	</td>
</tr>